.App {
  text-align: center;
  display: grid;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  text-decoration: none;
} 
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3% auto;
  
}

.about-section i {
  font-size: 3em;
  padding: 5%;
  justify-self: flex-start;
}
.icon-div{
  grid-column: 2/3;
  overflow-y: scroll;
  position:fixed;
  height: 85vh;
  padding: 5%;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  position: relative;
}
@keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.about-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.about-section p {
  grid-column: 2/3;
  color: white;
}
span {
  color: white;
}

p {
  color: white;
}

.about-section h1, h3, h4, h5 {
  grid-column: 2/3;
  color: white;
}

.contact-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  height: 100vh;
}

.contact-div h1 {
  color: white;
}

.sidebar {
  grid-column: 2/3;
  padding: 5%;
  overflow-y: scroll;
  height: 90vh;
}

.profile-image {
  grid-column: 1/2;
  width: 90%;
  justify-self:center;

}

.portfolio {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  height: 100vh;
}

svg {
  color:white;
}

.MuiPaper-root {
  padding: 5%;
  margin: 5%;
}